NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_publishable_or_anon_key
NEXT_PUBLIC_YOUTUBE_API_KEY=your_youtube_api_key
NEXT_PUBLIC_YOUTUBE_HANDLE=seattledesitv
NEXT_PUBLIC_LIVE365_META_URL=https://api.live365.com/stations/a45587/nowplaying
NEXT_PUBLIC_LIVE365_STREAM_URL=https://das-edge17-live365-dal02.cdnstream.com/a45587
